<?xml version="1.0" encoding="utf-8"?>
<!-- Used for the published artifact. -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <!-- The installation script will copy the DLLs into this location. -->
    <aspNetCore processPath="dotnet" arguments=".\bin\Dynatrace.AzureSiteExtension.dll"
                stdoutLogEnabled="true" stdoutLogFile=".\SiteExtension" />
  </system.webServer>
</configuration>
